
<div class="text-center"><h2 class='satisfy'><%#= image_tag 'logo.png' %>Craft Cocktail</h2></div>
<br>
<br>
<div class="text-center"><h3>Don't just do a Gin & Tonic. Order or make something unique.</h3></div>
<br><br><br>



<%= link_to "C'MON DON DRAPER, SUGGEST A COCKTAIL", '/favorites/new', class: "large button expand" %>
<br><br>
<%= link_to "SEE YOUR FAVORITES", '/favorites', class: "large button expand" %>
<br><br>
<%= link_to "FIND A COCKTAIL BAR", '/bars', class: "large button expand" %>



