<h2>Craft Cocktail</h2>
<br>
<br>
Cocktail Generator:
<br>

<%= link_to "Generate a Random Cocktail", '/favorites/new' %><br>
-Flavor of Choice<br>
-Base Spirit of Choice<br>
-InstaCraft Cocktail(?)<br>
