
<h2>Favorite Cocktails</h2>
  <ul>
<% @user_cocktails.each do |cocktail| %>
<li>
  <%= cocktail.name  %>
</li>
<li>
  <img class="drink" src='<%= cocktail.photo_url %>'>
</li>
  <li>
  <%= cocktail.description %>
</li>
<li>
  <%= cocktail.recipe %>
</li>
<% end %>
</ul>

